*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
}
body {
  
}

header {
  background-color: rgb(43, 39, 39);
  color: #fff;
  padding: 2rem 0;
}